img {
    max-width: 100%;
    max-height: 100%;
}

* {
    font-family: Times;
    /* font-size: 16px; */
    font-weight: lighter;
    /* text-align: left; */
    /* color: black; */
    //line-height: 16px;
    /* margin-right: 20%; */
}

#button {
    color: black;
    text-decoration: none;
}

#link {
    color: black;
}

#intro {
    max-width: 300px;
}

img {
    margin-top: 10px;
    margin-right: 35px;
}

.content {
    margin-left: 35px;
    color: black;
    width: 475px;
    max-width: calc(100% - 60px);
    margin-top: 40px;
    margin-left: 30px;
    /* margin-right: 35px; */
    /* line-height: 8px; */
}

.header {
    margin-top: 35px;
    margin-left: 20px;
    /* line-height: 8px; */
}

