* {
    font-size: 10px;
    font-family: courier;
    font-weight: lighter;
}

.footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#button {
    font-size: 15px;
    /* margin-left: 20px; */
    color: black;
    text-decoration: none;
}

#link {
    color: black;
}

#intro {
    max-width: 300px;
}

p {
    margin-left: 30px;
    max-width: 300px;
}

.header {
    margin-top: 35px;
    margin-left: 20px;
}

iframe {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    width: 700px;
    max-width: calc(100% - 70px);
}

img {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    width: 700px;
    max-width: calc(100% - 70px);
}

@media only screen and (max-width: 768px) {
    img {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100% - 20px);
    }
    .header {
        margin-left: 10px;
    }

    iframe {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100% - 20px);
    }

    p {
        margin-left: 10px;
        max-width: 315px;
    }

    .no-mobile {
        display: none;
    }
}