/* * {
    margin: 0;
    padding: 0;
    background: pink;
} */

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
}
.wrapper {
    margin: 0;
    width: 1000px;
}

.img-carlos {
    width: 100vh;
}