* {
    font-size: 10px;
    font-family: courier;
    font-weight: lighter;
}

#button {
    /* font-size: 15px; */
    /* margin-left: 20px; */
    color: black;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

h2 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.header {
    margin-top: 35px;
    margin-left: 20px;
}

iframe {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    width: 700px;
    max-width: calc(100% - 70px);
}

img {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
    width: 700px;
    max-width: calc(100% - 70px);
}

#info {
    margin-left: 20px;
    margin-right: 20px;
}

#intro {
    max-width: 300px;
}

#link {
    color: black;
}


@media only screen and (max-width: 768px) {

    /* * {
        font-size: 20px;
    } */

    #info {
        margin-left: 0px;
        margin-right: 0px;
    }

    #button {
        /* font-size: 20px; */
        color: black;
        text-decoration: none;
    }
    
    img {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100% - 20px);
    }
    .header {
        margin-left: 10px;
    }

    h2 {
        margin-left: 10px;
        /* font-size: 20px; */
    }

    iframe {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: calc(100% - 20px);
    }

    p {
        margin-left: 10px;
        max-width: 315px;
    }

    .no-mobile {
        display: none;
    }

}

.modal {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  .model-inner {
    background-color: white;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
  }

  [x-cloak] {
    display: none !important;
  }

  /* .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: .75;
  } */

p {
    margin-left: 30px;
    max-width: 300px;
}

